<%= render 'layouts/header' %>
<div class="jumbotron" id="about">
  <div class="container-fluid">
    <p>ABOUT</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>WHO WE ARE</h5>
    <p>Penn For Youth Debate is an organization dedicated to coaching debate in Philadelphia high schools. Our volunteers travel to high schools weekly to help students improve their critical thinking and argumentation skills. We work closely with Philadelphia’s After School Activities Partnerships to host debates at the University of Pennsylvania, including the Liberty Bell Classic. </p>
    <h5>MISSION</h5>
    <p>PFYD is a Student Activities Council recognized and funded group at the University of Pennsylvania. PFYD’s mission is four-fold:</p>
    <p>1.  To provide volunteer debate coaches (Penn & Drexel student volunteers) to local Philadelphia high schools and middle schools,</p>
    <p>2.  To run debate tournaments for students (including the Liberty Bell Classic, Penn for Youth Debate Fall Tournament, and Voices of Philadelphia Tournament)</p>  
    <p>3.  To promote activities among Penn students that support youth debate in the Philadelphia area</p>
    <p>4.  To encourage former debaters to give back to the activity from which they have gained so much.</p>
    <p>To date, PFYD has worked with over twenty schools and hosted over ten tournaments for Philadelphia students. PFYD provides these services to schools free of charge. Volunteering with PFYD is also free, as we provide SEPTA tokens and educational materials.</p>
    <h5>PARTNERS</h5>
    <p>PFYD has partnered with the After School Activities Partnership. ASAP’s mission is to provide after school recreational and enrichment activities to Philadelphia students. ASAP and PFYD have partnered with the sole goal of creating a Philadelphia-wide debate league that is open to all Philadelphia schools. During the fall, ASAP runs weekly after school debates for students in high school, while PFYD staffs some of the schools with volunteers, and runs weekend tournaments.</p>
    <p>The results of our partnership were overwhelming; highlights included enormously increased participation at all tournaments. We look forward to continuing this partnership and working towards the creation of a Philadelphia-wide league.</p>

    <h5>GET INVOLVED</h5>
    <p>If your high school is interested in working with us, wants to register for tournaments, or wants to learn more, please contact us! Penn students who are interested in volunteering should also reach out. Email us at board@pennforyouthdebate.org</p>
  </div>
</div>


<%= render 'layouts/footer' %>