<%= render 'layouts/header' %>
<div class="jumbotron" id="join">
  <div class="container-fluid">
    <p>JOIN US</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <p><b>Apply Now! Email enactus.upenn@gmail.com with your resume and a short paragraph explaining why you want 
    to join Enactus.</b></p>
    <h5>WHY ENACTUS</h5>
    <p>Penn Enactus is looking for new members for the Spring 2016 semester. Students in
    Enactus are given a unique oppotunity of experiencing all of the facets of social
    entrepreneurship firsthand. Project groups in Enactus are fast-paced, immersive,
    and push students to apply classrooms skills to the real world. </p>
    <h5>CLASS CREDIT</h5>
    <p>Members who have been with the organization for two semesters have the
    opportunity to participate in Enactus for class credit during subsequent semesters within the
    organization. Members who take Enactus as a class are more involved with the club and 
    complete assignments for a grade. MGMT 191 and MGMT 353 credit can be awarded for students
    who go this route.
    </p>
  </div>
</div>

<%= render 'layouts/footer' %>