<%= render 'layouts/header' %>
<div class="jumbotron" id="join">
  <div class="container-fluid">
    <p>JOIN US</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>JOIN US</h5>
    <p>Penn for Youth Debate is always looking for new volunteers to help us achieve our missions. Our volunteers make weekly visits to the
    school they help to coach. These schools are close to campus, and transportation is covered. In addition, volunteers have the opportunity
    to help prepare and run the three tournaments we host each year. Volunteers do not need any experience with debate, all that we ask is a 
    willingness to help high school students learn to their fullest potential! </p>
    <h5>CONTACT US</h5>
    <p>Shoot us an email at board@pennforyouthdebate.org and let us know if you're interested. We'd love to work with you!
    </p>
  </div>
</div>

<%= render 'layouts/footer' %>