<div class="jumbotron" id="projects">
  <div class="container-fluid">
    <p>PROJECTS</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>OUR WORK</h5>
    <p>Penn Enactus focuses its efforts on helping the community by creating
    sustainable projects that both generate revenue and incorporate elements
    of social entreneurship. The three projects we are currently focused on
    embody the values set forth in our mission. </p>
  </div>
</div>

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("logo_mom.jpg", :alt => "", height: 150, width: 350) %>
        <h4>Momentum</h4>
        <p>Momentum is a social entrepreneurship project founded to empower 
        female entrepreneurs in the local Philadelphia area. Forming a community of 
        women who are interested in the intersection between business and the arts, 
        through biweekly workshops and card sales, Momentum provides these aspiring 
        entrepreneurs with a supplementary source of income as well as the tools to 
        start their own small business. Currently, the Momentum team consists of six 
        students and supports four women.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("logo_ivy.jpg", :alt => "", height: 150, width: 260) %>
        <h4>IvyTalk</h4>
        <p>IvyTalk is a non-profit tutoring service that connects Ivy League student-tutors with students 
        around the world. Our courses are designed to improve English speaking skills and 
        comprehension ability through engaging conversation. We speak with our students 
        through Skype, a free video-calling software. This allows our tutors to connect 
        with students all over the world.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("logo_ref.jpg", :alt => "", height: 150, width: 350) %>
        <h4>Project Feast</h4>
        <p>RE-fresh plans and hosts unique cooking lessons in the 
        Philadelphia area. Based off Project Feast in Seattle, WA, Enactus Project Feast hires local 
        refugees that possess unique culinary skills from their home countries and provides training to 
        allows these refugees to teach cooking lessons. Customers that attend these lessons seek to learn a 
        new culinary style or technique, and to enjoy great food!</p>
      </div>
    </div>
  </div>
</div>