<div class="jumbotron" id="sponsors">
  <div class="container-fluid">
    <p>SPONSORS</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>OUR SPONSORS</h5>
    <p>The work that Penn Enactus does would not be possible without the support
    of our generous sponsors. They have given us the opportunity to build sustainable
    businesses and try out new, innovative ideas. </p>
  </div>
</div>