<footer class="footer">
  <div class="container-fluid">
    <p>&copy; Penn For Youth Debate, 2016</p>
    <p><a href="mailto:pfyd@pfyd.org?">Email</a> | <a href="https://www.facebook.com/pennpfyd">Facebook</a></p>
  </div>
</footer>