<footer class="footer">
  <div class="container-fluid">
    <p>&copy; Penn Enactus 2015</p>
    <p>A Chapter of <a href="http://enactus.org">Enactus Worldwide</a></p>
    <p><a href="mailto:enactus.upenn@gmail.com?">Email</a> | <a href="https://www.facebook.com/PennEnactus">Facebook</a></p>
  </div>
</footer>